/* Adjust sidebar width and main content area */
.col-md-3 {
  min-width: 200px; /* Adjust as needed */
}

.row {
  --bs-gutter-x: 0;
}

.col-md-9 {
  
}

:host {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: aqua;
  overflow: hidden;
}